@mixin fontFamily($family, $weight) {
	@font-face {
		font-family: '#{$family}-#{$weight}';
		src: url('../fonts/#{$family}-#{$weight}.ttf') format('truetype');
	}
}

@mixin fontSize($size) {
	font-size: #{$size/16}rem;
}

